/* Navbar.css */
.custom-btn {
  background-color: #fff;
  color: #000;
  padding: 8px 20px;
  border: 1px solid #ccc;
  border-radius: 50px;
  font-weight: 500;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.30);
  text-decoration: none;
  transition: all 0.5s ease-in;
}

.custom-btn:hover {
  background-color: #000;
  color: #fff;
  transform: scale(1.05);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.25);
}

.circle-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  padding: 0;
  border: none;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-btn img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

